
.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 20px;

    position: absolute;
    width: 300px;
    height: 617px;
    left: 327px;
    top: 168px;

    background: yellow;
    border-radius: 10px;
}
.details h1{
    position: static;
    height: 25px;
    left: 0%;
    right: 40.38%;
    top: calc(50% - 25px/2 - 16px);

    /* Text/Title - Medium */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    /* Text Color/Dark Blue */
    color: #0e1b42;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}

.details h3{
    position: static;
height: 20px;
left: 0%;
right: 5.93%;
top: calc(50% - 20px/2 - 12px);

/* Text/Body - Regular */

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Text Color/Blue */

color: #6F7FAF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.details h4{
    position: static;
height: 24px;
left: 0%;
right: 0%;
top: calc(50% - 24px/2 + 10px);

/* Text/Subheader - Medium */

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Text Color/Dark Blue */

color: #0E1B42;


/* Inside auto layout */

flex: none;
/* order: 1; */
flex-grow: 0;
margin: 0px 0px;
}
