.Details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 20px;
    
    position: absolute;
    width: 300px;
    height: 617px;
    left: 327px;
    top: 168px;
    
    background: #FFFFFF;
    border-radius: 10px;
}

.Details-title{
    position: static;
    height: 25px;
    left: 0%;
    right: 40.38%;
    top: calc(50% - 25px/2 - 16px);
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;   
    color: #0E1B42;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}
.Account-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 260px;
    height: 492px;
    left: 20px;
    top: 99px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}
.Info-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 0px; */
    /* position: absolute; */
    width: 260px;
    height: 44px;

}
.Info{
    position: static;
    height: 20px;
    left: 0%;
    right: 5.93%;
    top: calc(50% - 20px/2 - 12px);
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    color: #6F7FAF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.Sub-Info{
    position: static;
    height: 24px;
    left: 0%;
    right: 0%;
    top: calc(50% - 24px/2 + 10px);
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    color: #0E1B42;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

@media (max-width: 375px){

    .Details-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0px; */
    position: absolute;
    width: 310px;
    height: 545px;
    left: 10px;
    }
    .Account-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px 0px 20px;
    position: static;
    width: 332px;
    height: 500px;
    /* left: 0px; */
    top: 98px;
    flex: none;
    /* order: 1; */
    /* flex-grow: 0; */
    margin: 18px 0px;
    }

}