.SConatainer{
    display: flex;
    flex-direction: column;
    Width: 288px;
    Height: 100%;
    /* position: fixed; */
    background: #0E1B42;
    z-index: 100;
    }

.sidebar{
    Width: 288px;
    Height: 1769px;
    display: flex;
    flex-direction: column;
}

.Logo{
    Width: 227px;
    Height: 33px;
    margin-top: 35px;
    margin-right: 29.38px;
    margin-left: 31.17px;
}

.Icon {
    margin-left: 19px;
    display: none;
}

.Mlogo {
    margin-right: 29.38px;
}

.Logo2 {
    margin-right: 19px;
    display: none;
}
.SContain1{
    margin-top: 15px;
}
.SContext1{
    position: relative;
    height: 50px;
    margin: 0 15px;
    list-style: none;
    border-radius: 12px;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.SContain{
    margin-top: 15px;
}
.SContext{
    position: relative;
    height: 50px;
    margin: 0 15px;
    list-style: none;
    border-radius: 12px;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.SContext:hover{
    color:#11101d;
    background: #FFDD00;
}
@media (max-width: 375px) {

    .SConatainer {
        Width: 100%;
        Height: 70px;
        /* background-color: lightblue; */
    }

    .sidebar{
        width: 100%;
    }
    .Logo {

        margin: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        /* Width: 227px;
        Height: 33px;
        margin-top: 35px; */
    }

    .Icon{
        margin-left: 19px;
        display: contents;
    }
    
    .Mlogo {
        margin-left: 51px;
        margin-right: 25px;
    }
    
    .Logo2 {
        margin-right: 19px;
        display: contents;
    }

   .SContain1 {
       display: none;
   }

   .SContain {
    display: none;
   }
  
  }
