/* *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Snell Roundhand, cursive ;
    
    } */
.sidebar {
    margin-top: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 288px;
    background: #0E1B42; 
    position: absolute;
    height: 1615px;
    overflow: auto;
}
.sidebar .logo_content .logo{
    color: #fff;
    display:flex;
    height:50px;
    width:100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar .logo_content .logo .maybank{
    position: absolute;
    left: 10.82%;
    right: 10.36%;
    top: 2.17%;
    bottom: 95.79%;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i {
    font-size: 20px;
    font-weight: 400;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    color: #fff;
}

.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height:50px;
    border-radius: 12px;
}

.sidebar ul li a{
    color: #fff;
    display:flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color:#11101d;
    background: #FFDD00;;
}
.sidebar ul li i{
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}