.top_main {
    display: flex;
    flex-direction: row;
    width: 1740px;
    height: 68px;
    justify-content: center;
    background: #ffffff;
    border-radius: 1px;
  }
  
  .top_container {

    margin-left: 42px;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .topnav{
      display: flex;
  }
  
  .FIcon {
    width: 26.67px;
    height: 26.36px;
  }
  
  .h-content {
    margin-left: 10.33px;
    height: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 14px;
    color: #0e1b42;
  }
  
  .h-content :nth-child(1) {
    font-weight: 700;
  }
  
  .h-subcontent {
    color: gray;
    font-size: 14px;
    margin-top: 2px;
    font-size: 12px;
    font-family: "Nunito Sans", sans-serif;
  }
  
  .h-icon2 {
    width: 18px;
    height: 20px;

  }
  
  .h-icon3 {
    width: 18px;
    height: 20px;
    margin-left: 42px;

  }
  
  .test {
    display: flex;
    margin-right: 27.5px;
  }
  
  .abc{
    display:flex;
    }
  
  @media (max-width: 375px) {
  
    .test {
      display: none;
    }
    .top_main{
      box-shadow: 0px 4px 10px rgb(146 146 210 / 20%);
      border-radius: 1px;
      margin-bottom: 0px;
      width: inherit;
      
    }
  
  }

